{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Unidigi | {% block title %}Home{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    </head>
    <body>
        <header>
            {% block header-content %}
                <div class="logo">
                    <p>uni-digi</p>
                </div>
                <ul class="navbar">
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'signup' %}">{% translate 'Sign up' %}</a></li>
                    <li><a href="{% url 'login' %}">{% translate 'Log in' %}</a></li>
                </ul>
            {% endblock %}
        </header>
        {% block content %}{% endblock %}
        
        <script src="{% static 'js/test.js' %}"></script>
    </body>
</html>