* {
    --yellow: #fac73c;
    --light-yellow: #f8de96;
    --black: rgb(36, 36, 36);
    --white: rgb(238, 238, 238);
    --gray: rgb(90, 90, 90);
    --blue: rgb(85, 144, 255);
    --light-blue: rgb(193, 214, 252);
}

.text-input {
    width: 250px;
    height: 40px;
    margin: 10px 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--black);
    background-color: transparent;
    padding: 0px 25px;
    font-size: 1.3rem;
    color: rgba(36, 36, 36, 0.5);
}
.formulary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: auto;
    margin: 100px auto;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--light-yellow);
    box-shadow: 0px 2px 10px rgba(36, 36, 36, 0.5);
    font-size: 1.5rem;
}
.form-button {
    display: inline-block;
    width: 150px;
    height: 50px;
    margin-top: 40px;
    border-radius: 5px;
    font-size: 1.3rem;
    border: 1px solid var(--black);
    outline: none;
    background-color: var(--black);
    color: var(--white)
}
.label_account-type {
    display: inline-block;

    font-size: 1.3rem;
}
.select {
    display: inline-block;
    background-color: rgba(36, 36, 36, 0.5);
    border: none;
    padding: 10px;
    font-size: 1.3rem;
    margin-top: 20px;
    border-radius: 5px;
    color: var(--white)
}