{% extends 'index.html' %}
{% load i18n %}
{% load static %}


{% block title %}Log in{% endblock %}
{% block content %}
        <!--LOGIN FORMULARY-->
        <form method="POST" enctype="application/x-www-form-urlencoded"
            id="form-login" action="{% url 'login' %}" class="formulary">
        {% csrf_token %}
        <label for="id_username">username</label>
        <input type="text" class="text-input" name="username" id="id_username" required>
        <label for="id_password">password</label>
        <input type="password" class="text-input"  name="password" id="id_password" required>
        <button class="form-button">{% translate 'Log in' %}</button>
        
    </form>
{% endblock %}
